/* a pasta components é usada para guardar arquivos com códigos de elementos que se repetem, como botões, etc */


.menu-navegacao{
    grid-row: 3;
    justify-self: center;
    margin-top: 2%;
}



.menu-navegacao #mennav-caixa{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-size: 35px;
    
}



#mennav-caixa h2{
    font-family: Koulen;
    font-size: max(10px, 2vw);
}


.span-divisor{

    font-weight: 100;
    font-size: 20px; 
    text-align: center;
    align-self: center;
}


.mennav-link{
    display: flex;
    align-items: center;
}

.mennav-link:hover{
    cursor: pointer;
}

.mennav-link .mennav-link-btn{
    margin: 3px;
}

.mennav-link-btn:hover{
    cursor: pointer;
}

.mennav-caixa-texto-imagem{
    display: flex;
}

.mennav-caixa-texto-imagem img{
    align-self: center;
    width: auto;
    height: 25%;
    margin: 2%;
}

#menu-dropdown-missao{
    display: none;
    flex-flow: column;
    background-color: rgb(20, 20, 20);
    column-gap: 20px;
    gap: 14px;
    position: absolute;
    font-family: Arial;
    font-size: 15px;
    padding: 8px;
}


.mennav-link:hover #menu-dropdown-missao{
    display: flex;
}

.link-to-missao:hover{
    background-color: #555;
    cursor: pointer;
}


@keyframes fadeIn { /* animação */
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn { /* animação */
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.mennav-link-btn { /* animação */
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.menu-navegacao { /* animação */
    animation: slideIn 1s ease-in-out;
}





@media(max-width: 320px){ /* pequenos celulares */
    .mennav-link, .span-divisor{
        display: none;
    }
}


