body{
    background-color: black;
    color: white;
    
    }
    .menu {
        display: flex;
        align-items: center;
        gap: 60px;
        padding: 15px;
        font-size: 20px;
        align-items: center;
        justify-content: center;
    }

    .menu-item {
        color: white;
        text-decoration: none;
        cursor: pointer;
        padding: 15px 20px;
        position: relative;
    }

    .menu-item:hover {
        color: #555;
    }

    /* Estilizando o dropdown */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 120px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color:white;
        padding: 20px;
        display: block;
        text-decoration: none;
    }

    .dropdown-content a:hover {
        color: #555;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    .guia-website-titulo-seta{
        display: flex;
        align-items: center;
        margin-left: 750px;
    }
    .guia-website-seta{
        padding: 50px;
    }
    .guia-website-seta:hover{
        
    }
    .guia-website{
        margin-top: 250px;
    }
    .guia-website-image{
        width: 600px;
        height: 400px;
        background-color: aqua;
        margin-right: 200px;
    }
    .guia-website-principal{
        margin-top: 200px;
    }
    .conteudo-principal-titulo{
        display: grid;
    }
    .guia-website-titulo{
        text-align: center;
    }
    .guia-website-escrito{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 300px;
    }
    .conteudo-image{
        width: 50px;
        height: 3px;
    }
    .guia-website-texto{
        margin-left: 200px;
        font-size: 25px;
    }
    .conteudo-texto-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 300px;
    }
    .conteudo-texto-3{
        justify-content: space-around;
        font-size: 25px;
        margin-right: 100px;
    }
    .foto-macaco{
        margin-top: 560px;
        margin-left: 200px;
        width: 300px;
    }